.DS_Store
.devcontainer/*
*.pyc
*.aux
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.fdb_latexmk
data/external/*
data/raw/*
data/interim/*_bleu_rating.csv
data/interim/*_meteor_rating.csv
data/interim/*_semantic_rating.csv
data/interim/*_toxicity_rating.csv